* {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  min-width: 150px;
}

th {
  font-weight: bold;
}

.add-new-item-container {
  padding: 0 0 20px 10px;
}

.add-new-item-form {
  display: inline;
}

.add-new-item-input {
  margin: 10px;
}