.book-table {
  background-color: #A2BAFC;
}

.book-table-header {
  font-size: 1.2em;
  border-bottom: 3px solid black;
}

.book-table-row:nth-child(odd) {
  background-color: #95abe8;
}

@media only screen and (max-width: 768px) {

  .book-table {
    background-color: transparent;
    box-shadow: none;
  }

  .book-table-row, .book-table-row:nth-child(odd) {
    background-color: #b5c8fd;
    max-width: 400px;
  }
}