.home-container {
  position: absolute;
  top: 50%; 
  right: 50%;
  display: inline-block;
  max-width: 600px;
  min-width: 350px;
  text-align: left;
  margin-top: 20px;
  background-color: pink;
  border: 0.5px solid white;
  box-shadow: 0 0 20px #ffd3da;
  padding: 10px;
  border-radius: 10px;
  transform: translate(50%,-50%);
}

.home-heading {
  text-align: center;
  padding-top: 0;
}

.home-p {
  margin: 10px;
  font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
  .home-container {
    margin-top: 80px;
  }
}